.naviContainer {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
}

.gameTitle {
  font-size: 40px;
  width: 100%;
  background-color: white;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.title-container {
  width: 100%;
}

.button-container1 {
  height: 100%;
  width: 100px;
  background-color: white;
}

.button-container2 {
  height: 100%;
  width: 100px;
  background-color: white;
}
